@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Expense App</h1>
    <a class="btn btn-primary mb-3" asp-controller="Expense" asp-action="Index">View Expenses</a>
    <a class="btn btn-secondary mb-3" asp-controller="Expense" asp-action="CreateEdit">Create Expense</a>
</div>
